<div data-role="view" data-title="Agenda View" data-layout="main" data-model="app.agendaView" data-show="app.agendaView.onShow" data-after-show="app.agendaView.afterShow" id="agendaViewScreen" class="screen">

    <!-- START_CUSTOM_CODE_agendaView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <style type="text/css">
      #agendaViewScreen .km-content {
        background-image: url(/images/agendaMockup.png);
        background-size: cover;
      }
    </style>
    <!-- END_CUSTOM_CODE_agendaView -->
</div>