<div data-role="view" data-title="Profile" data-layout="main" data-model="app.profileView" data-show="app.profileView.onShow" data-after-show="app.profileView.afterShow" id="profileViewScreen" class="screen">
    <div id="profileViewModel" class="form-view screen__content screen__content--form add-item-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">


                    <label id="textField2Field" class="field field--text">
                        <span class="field__label">Text field</span>


                        <input id="textField2" data-bind="value: addFormData.textField2" placeholder="Type here ..." type="text">

                    </label>
                </li>
                <li class="form-content-item">
                    <label id="dropdownlistField" class="field field--drop-down">

                        <span class="field__label">Label</span>

                        <select data-bind="value: addFormData.dropdownlist" data-role="dropdownlist">
                            <option value="First Option">First Option</option>
                            <option value="Second Option">Second Option</option>
                            <option value="Third Option">Third Option</option>
                        </select>
                    </label>
                </li>
                <li class="form-content-item">


                    <label id="radioField" class="field field--radio">
                        <span class="field__label">Label</span>


                        <input id="radio" data-bind="checked: addFormData.group1" name="group1" type="radio" value="radio">

                    </label>
                </li>
                <li class="form-content-item">
                    <div id="headingField" class="field field--heading">
                        <h1 data-bind="text:addFormData.heading"></h1>
                    </div>
                </li>
                <li class="form-content-item">
                    <label id="textBlock2Field" class="km-label-above field field--text-block">

                        <span class="field__label">Text Block</span>


                        <div class="textBlock field__content" data-bind="html: addFormData.textBlock2"></div>

                    </label>
                </li>
                <li class="group-separator">
                    <h4 class="group-separator-header">My group</h4>
                </li>
            </ul>

            <div class="button-group">
                <a data-role="button" data-bind="events: { click: profileViewModel.cancel }">Cancel</a>
                <a class="primary" data-role="button" data-bind="events: { click: profileViewModel.submit }">Confirm</a>
            </div>
        </form>
        <!-- START_CUSTOM_CODE_profileViewModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

        <ul class="form-content km-widget km-listview km-list km-listinset ">
            <li class="form-content-item">
                <h4 class="group-separator-header">Sign out of app</h4>
                <a href="components/authenticationView/view.html?logout=true" data-position="end" data-icon="action" class="km-button" data-role="tab"><span class="km-icon km-action"></span><span class="km-text">Sign Out</span></a>
            </li>
            <li class="form-content-item">


                <label id="textField2Field" class="field field--text">
                    <span class="field__label">Text field</span>


                    <input id="textField2" data-bind="value: addFormData.textField2" placeholder="Type here ..." type="text">

                </label>
            </li>
            <li class="form-content-item">
                <label id="dropdownlistField" class="field field--drop-down">

                    <span class="field__label">Label</span>

                    <select data-bind="value: addFormData.dropdownlist" data-role="dropdownlist">
                        <option value="First Option">First Option</option>
                        <option value="Second Option">Second Option</option>
                        <option value="Third Option">Third Option</option>
                    </select>
                </label>
            </li>
            <li class="form-content-item">


                <label id="radioField" class="field field--radio">
                    <span class="field__label">Label</span>


                    <input id="radio" data-bind="checked: addFormData.group1" name="group1" type="radio" value="radio">

                </label>
            </li>
            <li class="form-content-item">
                <div id="headingField" class="field field--heading">
                    <h1 data-bind="text:addFormData.heading"></h1>
                </div>
            </li>
            <li class="form-content-item">
                <label id="textBlock2Field" class="km-label-above field field--text-block">

                    <span class="field__label">Text Block</span>


                    <div class="textBlock field__content" data-bind="html: addFormData.textBlock2"></div>

                </label>
            </li>
            <li class="group-separator">
                <h4 class="group-separator-header">My group</h4>
            </li>
            <li class="form-content-item">


                <label id="textField2Field" class="field field--text">
                    <span class="field__label">Text field</span>


                    <input id="textField2" data-bind="value: addFormData.textField2" placeholder="Type here ..." type="text">

                </label>
            </li>
            <li class="form-content-item">
                <label id="dropdownlistField" class="field field--drop-down">

                    <span class="field__label">Label</span>

                    <select data-bind="value: addFormData.dropdownlist" data-role="dropdownlist">
                        <option value="First Option">First Option</option>
                        <option value="Second Option">Second Option</option>
                        <option value="Third Option">Third Option</option>
                    </select>
                </label>
            </li>
            <li class="form-content-item">


                <label id="radioField" class="field field--radio">
                    <span class="field__label">Label</span>


                    <input id="radio" data-bind="checked: addFormData.group1" name="group1" type="radio" value="radio">

                </label>
            </li>
            <li class="form-content-item">
                <div id="headingField" class="field field--heading">
                    <h1 data-bind="text:addFormData.heading"></h1>
                </div>
            </li>
            <li class="form-content-item">
                <label id="textBlock2Field" class="km-label-above field field--text-block">

                    <span class="field__label">Text Block</span>


                    <div class="textBlock field__content" data-bind="html: addFormData.textBlock2"></div>

                </label>
            </li>
            <li class="group-separator">
                <h4 class="group-separator-header">My group</h4>
            </li>
        </ul>


        <!-- END_CUSTOM_CODE_profileViewModel -->
    </div>

    <!-- START_CUSTOM_CODE_profileView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->


    <!-- END_CUSTOM_CODE_profileView -->
</div>