<div data-role="view" data-title="Details" data-model="app.masterDetailView.masterDetailViewModel" data-bind="events: { show: detailsShow }" id="masterDetailViewModelScreen" class="screen screen--detail">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span>Activity Detail</span>
            <a data-role="button" data-align="right" data-bind="events: { click: editClick }">Edit</a>
            <a data-role="button" class="nav-button" data-align="right" data-bind="events: { click: deleteClick }"><i class="km-icon km-delete"></i></a>
        </div>
    </header>

    <div class="details-content screen__content screen__content--details">
        <div class="km-listview-wrapper">
            <ul class="km-listview km-list km-listinset details-fields">
                <li>
                    <h3 data-bind="text: currentItem.End"></h3></li>


                <li class="form-content-item">


                    <div id="location1Field" class="field field--location imageListItem km-label-above">

                        <div class="field__label">Location</div>

                        <div class="field__content">

                            <div id="location1" class="mapView"></div>

                        </div>
                    </div>
                </li>
                <li class="detail-content-item">


                    <label id="textBlockField" class="km-label-above field field--text-block">

                        <span class="field__label">Start Date</span>


                        <div class="textBlock field__content" data-bind="text: currentItem.Start" data-format="d"></div>

                    </label>


                </li>
                <li class="detail-content-item">


                    <label id="textBlock1Field" class="km-label-above field field--text-block">

                        <span class="field__label">End Date</span>


                        <div class="textBlock field__content" data-bind="text: currentItem.End" data-format="d"></div>

                    </label>


                </li>
            </ul>
        </div>
    </div>
    <!-- START_CUSTOM_CODE_masterDetailViewModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_masterDetailViewModel -->
</div>